
/* Color Pallets */
@import url('_loader.css');

:root{
    --darkgray: #203544;
    --velvetblue: #F0F5F7;
    --beige: #d4b57a;
    --dirtyblue: #eef3f7;
    --darkteal: rgb(21, 49, 82);
    --ocean: rgb(13, 21, 26);
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}

html,body{
    background: var(--ocean);
    overflow-x: hidden;
}




h1{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.2em;
    letter-spacing: .3em;
    color: var(--velvetblue);
}

h3{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: .12em;
    line-height: 1.3em;
}

p{
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    letter-spacing: .09em;
}

nav{
    display: block;
    height: 120px;
    width: 100vw;
    /* background: red; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.fill{
    width: 100vw;
    height: 100vh;
}

.fill-plus{
    width: 100vw;
    height: 110vh;
}

.border{
    border: goldenrod solid;
}

.logo{
    /* background: blue; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.logo img{
    margin-top: 70px;
    margin-left: 60px;
    width: 4.1em;
}

.bg-main{
    overflow: hidden;
}

.background{
    /* background-image: url('/img/dyn_bg/Background.webp'); */
    background-size: cover;
    background-position: bottom;
}

.actor-wrapper{
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: hidden;
    position: absolute;
    margin: 0 auto;
}

.actor-wrapper img{
    -webkit-filter: contrast(1.1);
            filter: contrast(1.1);
    width: 110%;
}
.actor-1{
   
}

.bg-patern{
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.shadow{
   background-image: url('/img/dyn_bg/Shadow.webp');
   width: 110vw;
   height: 118vh;
   position: absolute;
   background-size: cover;
   mix-blend-mode:multiply;
}

.gallery{
    position: relative;
    height: auto;
    /* z-index: 3; */
    background: var(--ocean);
}

.wrap.first{
    width: 100vw;
    /* position: absolute; */
    margin-top: -31px;
    /* margin:0 auto; */
    padding: 0 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* align-items: center; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 2;
   
}

.arrow{
    padding-top: 40px;
    margin-left: 27px;
    width: 35px;
}

.art-works{
    height: 100%;
    margin-top: 100px;

    margin: 100px auto 0 auto;
}


.s-2{
    opacity: .8;
}


/* MASONERY */

  #btn_area {
    text-align: right;
    margin: 50px 0 0px 0;
  }
  
  .btn {
    padding: 0px 25px;
    margin: 90px 6px;
    display: inline-block;
    font-size: 0.8em;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: var(--velvetblue);
    height: 0;
  }
  .btn:last-child{
     padding: 0;
     margin: 0;
  }
  
  .btn:not(.active){
      opacity: .4;
  }
  .btn:hover {
    color: var(--beige);
    cursor: pointer;
    opacity: 1;
  }
  
  .active {
    color: var(--beige);
  }

  .icons{
      width: 100%;
      height: 100%;
      -webkit-box-pack: right;
          -ms-flex-pack: right;
              justify-content: right;
  }

  .circle{
      width: 30px;
      margin-right: 20px;
      opacity: .2;
  }
  
  #parent {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: .7em;
    -moz-column-gap: .7em;
    column-gap: .7em;
    padding: 0;
    font-size: 1;
    max-width: 1600px;
  }
  
  .item {
    display: inline-block;
    /* background: rgb(49, 49, 49); */
    padding: 0;
    margin: 0 0 .5em;
    width: 100%;
    height: 100%;
    -webkit-transition: 0s ease all;
  }
  
  .item img {
    max-width: 100%;
    /* visibility: hidden; */
  }
  
  .cfx{
      width: 100%;
      height: 300px;
      position: absolute;
      bottom: -200px;
      left: 0;
      background: #d6e7f1;
      -webkit-transform: rotate(3deg) translateX(-10px);
          -ms-transform: rotate(3deg) translateX(-10px);
              transform: rotate(3deg) translateX(-10px);
      z-index: -1;
  }
  

  
  @media only screen and (max-width: 900px) {
    #parent {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
    .cfx{
        width: 100%;
        height: 250px;
        position: absolute;
        bottom: -200px;
        left: 0;
        background: #d6e7f1;
        -webkit-transform: rotate(2deg) translateX(-2px);
            -ms-transform: rotate(2deg) translateX(-2px);
                transform: rotate(2deg) translateX(-2px);
        z-index: 1;
    }
  }
  

  /* END OF MASONERY */

/*  class definitions */



.info{
    /* background: var(--dirtyblue); */
    height: 130vh;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, #ad9e8c), color-stop(74%, #d6e7f1));
    background-image: -o-linear-gradient(0, #ad9e8c 0%, #d6e7f1 74%);
    background-image: linear-gradient(0, #ad9e8c 0%, #d6e7f1 74%);
}

.info-title{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
}

.wrap.second{
    padding: 0 190px 10px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 70vh;
    max-width: 1600px;
}

.wrap.second h1{
    color: var(--darkteal);
    line-height: 1em;
}

.wrap.second h3{
    color: var(--darkteal);
}

.paragraph{
    margin-top: 60px;
}
.info-img{
    position: relative;
    height: 100%;
    width: 100vw;
    
}
.rejuva{
    width: 280px;
    position: absolute;
    bottom: -80px;
    right: -50px;
    z-index: 100;
}

.kabuki{
    width: 320px;
    position: absolute;
    bottom: -80px;
    right: 50px;
}

.gap{
    height: 0;
    background-color: var(--dirtyblue);
    visibility: hidden;
}

.mag{
    background-image: url("/img/Gazet.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    background-color: black;
    z-index:1;
}

.wrap.third{
    padding: 0 190px 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    margin-top: -152px;
}

.wrap.third h1{
    line-height: 1em;
}

.gazet-container{
    position: absolute;
    bottom: 55px;
    right: 280px;
}

.gazet-container img{
    width: 100px;
}

.harper{
    position: absolute;
    top: 70px;
    left: 80px;
}


.gazet-container img:last-child{
    width: 90px;
}

.gazet-container .paragraph{
    color: var(--dirtyblue);
    font-size: .6em;
    letter-spacing: .25em;
    position: absolute;
    top: 89px;
    left: -200px;
    width: 100vw;
}

.brands{
    
    
    height: 130vh;
}

.brands-bg{
    position: absolute;
    width: 100vw;
    height: 130vh;
    background-image: url("/img/Brands.webp");
    background-size: cover;
    background-position: top;
    z-index: 0;
}

.wrap.fourth{
    height: 70vh;
    width: calc(100vw - 380px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: enter;
        -ms-flex-align: enter;
            align-items: enter;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index:1;
}

.wrap.fourth h1{
    color: var(--darkteal);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 70px;
}

.logo-container{
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
.logo-container ul{
    text-decoration: none;
    list-style: none;
}

.row-1 img, .row-2 img{
    -webkit-filter:invert(80%);
            filter:invert(80%);
    width: 170px;
    margin: 30px;
}

.row-2 img{
    margin-top: -100px;
}

.contact{
    background-image: url("/img/Contact.webp");
    background-size: cover;
    background-position: bottom;
}

.wrap.fifth{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    padding: 190px 0;
    padding-left: 220px;

}

.contact-title{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.wrap.fifth h1{
    line-height: 1em;
    font-size: 3em;
    width: 350px;
    
}

.wrap.fifth h3{
    color: var(--velvetblue);
    font-size: 1.5em;
    margin-top: 20px;
    letter-spacing: .1em;
}

.wrap.fifth .email{
    color: #d4b694;
    margin-top: 110px;
    font-size: 2.5em;
}


.footer{
    width: 100vw;
    height: 100%;
    background: var(--ocean);
    padding: 0 52px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 50px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
}

.footer-logo{
    margin: 0 auto;
}

.footer-text{
    width: 100%;
    min-width: 33%;
    height: 120%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top:50px; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
}


.box{
    width: 33%;
    min-width: 400px;
    /* height: 70%; */
    color: #788f91;
    font-size: 1.1em;
    
    -ms-flex-wrap: wrap;
    
        flex-wrap: wrap;
        margin-top: 15px;
}



.footer img{
    opacity: .2;
    width: 75px;
}

.box-1{
    padding-left: 60px;
}

.box-1 p:last-child{
    margin-top: 25px;
}

.cont{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    
}

.box-2{  
    -webkit-box-orient: vertical;  
    -webkit-box-direction: normal;  
        -ms-flex-direction: column;  
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    
}

.box-2 p:nth-child(2){
    padding-left: 30px;
}

.box-2 p:last-child{
    font-size: .7em;
    padding-top: 25px;
}



.box-3 .container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.box-3 p:nth-child(2){
    font-size: 1.6em;
    margin-top: 20px;
}

.box-3 img{
    opacity: .7;
    width: 26px;
    padding-top: 15px;
}

.box-3 figure{
    margin-top: -12px;
}

#tt{
    font-size: .8em;
    padding-left: 15px;
}






@media only screen and (max-width: 800px) {

h1{             
    font-size: 2.2em;
}  

    
h3{
    font-size: 1.2em;
}

nav{    
    height: 140px;
    top: -40px;
    left: 20px;
}
nav .logo{
    width: 100vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
nav .logo img{
    width: 40px;
}
.background{
    background-size: 90vh;
    background-position: center;
}
.logo img{   
    width: 2.1em;
}
.fill-plus{
    height:65vh;
}

.parallax-layer__3{
    right: 0;
    top: -100px;

}
.actor-wrapper img{
    width: 180%;
}
.wrap.first{
    margin-top: -21px;
    padding: 0 ;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.wrap.first h1{
    width: 200px;
}

.arrow{
    margin: 0 auto;
}

.art-works{   
    margin-top: 0;
}

.btn {
    padding: 0px 5px;
    margin: 90px 2px;
    font-size: 0.6em;
  }

.icons{
    display: none;
}

.info{
    height: 180vh;
}

.wrap.second{
    padding: 0;
    margin: 0 auto;
    margin-top: -80vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
}

.rejuva{
    right: -10px;
}

.info-img{
    margin-top: 100px;
}

.kabuki{
    right: 90px;
}

.mag{
    background-size: 120vh;
    background-position: top;
}

.wrap.third{
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60vw;
    margin-top: -135px;
    text-align: center;
}

.gazet-container{
    right: 90px;
}
.gazet-container img{
    width: 130px;
}
.gazet-container .paragraph{
    color: var(--dirtyblue);
    font-size: .5em;
    letter-spacing: .25em;
    position: absolute;
    top: 139px;
    left: -250px;
    width: 100vw;
}

.brands{
    height: 110vh;
}

.wrap.fourth{
    height: 70vh;
    width: 70vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: enter;
        -ms-flex-align: enter;
            align-items: enter;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.wrap.fourth h1{
    color: var(--darkteal);
    font-size: 1.4em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}
.row-1 img, .row-2 img{
    -webkit-filter:invert(80%);
            filter:invert(80%);
    width: 100px;
    margin: 10px;
}


.contact{
    background-size: 160vh;
    background-position: top;
    background-position-x: -350px;
    height: 100vh;
    
}

.contact-title{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    width: 75vw;
}

.wrap.fifth{
    
    -webkit-box-pack: center;
    
        -ms-flex-pack: center;
    
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100%;
    padding:0;
    padding-left: 0px;

}

.wrap.fifth .email{
    color: #81f7f7;
    margin-top:70px;
    font-size: 1.5em;
}

.wrap.fifth h1{
    line-height: 1em;
    font-size: 1.8em;
    width: 250px;
}

.wrap.fifth h3{
    color: var(--velvetblue);
    font-size: 1.2em;
    margin-top: 20px;
    letter-spacing: .1em;
}

    .box-3{
        margin-top: 30px;
    }

    .footer{
        width: 100vw;
        height: 100%;
        background: var(--ocean);
        padding: 0; 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
    }
    

  
    .footer img{
        opacity: .2;
        width: 50px;
        
    }

    .footer-text{
        width: 100%;
        min-width: 33%;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-top:10px; 
        
    }
   
    
    p{
        font-size: .8em;
        text-align: center;}
 
.box{
    width: 100%;
    
    color: #788f91;
    font-size: 1.1em;
    
    -ms-flex-wrap: wrap;
    
        flex-wrap: wrap;
    margin-top: 40px;
    
}

.box-2{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-bottom: 40px;
    
}

.box-2 p:nth-child(2){
    padding-left: 0;
    
}

.box-2 p:last-child{
    font-size: .7em;
    
    
}

.box-1{
    padding-left:0 ;
}


.box-3{
    display: none;
}
.logo img {
    margin-top: 70px;
    margin-left: 0;
    width: 5.1em;
}
.box-2 p:nth-child(2){
    padding-left: 0px;
}

.cont p{
    width: 100%;
}

.footer-logo{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    margin: 0;
} 


@media only screen and (min-width: 1400px) {

    .actor-wrapper img{
        -webkit-filter: contrast(1.1);
                filter: contrast(1.1);
        width: 80%;
    }
    .shadow{
        width: 125vw;
    }
}